* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f0f0f;
    color: #fff;
    text-align: center;
}

section {
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

button, 
#catalogo a {
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    gap: 1rem;
    font-size: 0.9rem;
    border: 2px solid #ff4141;
    color: white;
    background-color: #0f0f0f;
    text-decoration: none;
}

/* Cabeçalho */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo img{
    width: 7rem;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s;
}

.menu a:hover {
    color: #ff4141;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

.hero h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: #ff4141;
    text-transform: uppercase;
}

.hero p {
    text-transform: uppercase;
}

.img-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    position: relative;
}

.hero-banner {
    height: 100%;
    position: absolute;
}

#banner02 {
    display: none;
}

.btn {
    width: 95%;
    padding: 0.5rem 0;
    z-index: 3;
}


.text-and-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 5vh 0;
}

.text-and-video h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.text-and-video h2 span {
    color: #ff4141;
}

.text-and-video video {
    width: 100%;
    border-radius: 1rem;
}

.text-box h2 {
    font-size: 3rem;
    line-height: 95%;
}

.text-box span {
    font-size: 1rem;
    margin-right:0.5rem;
}

#cliente-depo {
    color: #fff;
}

#number p {
    margin-top: -0.7rem;
    margin-bottom: 1.5rem;
}

#social h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
}

#social h2 span {
    color: #cc3434;
}

#social img {
    width:  100%;
}

#clientes h2 {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

#clientes h2 span {
    color: #cc3434;
}

#clientes-img {
    width: 95%;
    background-color: #fff;
    border-radius: 1rem;
}

#depoimentos {
    margin: 0;
    margin-top: -5vh;
}

#depoimentos h2 {
    font-size: 2rem;
}

#depoimentos h2 p {
    font-size: 1rem;
    text-transform: none;
    text-align: justify;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

#depoimentos h2 p span {
    text-align: end;
    display: grid;
}

#catalogo {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.fade-in {
    animation: fadeIn 1s;
    transition: 0.5s;
}

.fade-out {
    animation: fadeOut 1s;
    transition: 0.5s;
}

#fixed {
    width: fit-content;
    padding: 0.5rem;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    transition: 0.5s;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (min-width: 500px) {
    #video {
        margin: 0;
    }

    #video video {
        height: 100vh;
    }

    #social img {
        height: 100%;
        width: auto;
    }
}